.grid__container {
  width: 90%;
  max-width: var(--max-width);
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  .variant {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    height: 450px;
  }
}
