.dress__code {
  width: 100%;
  max-width: var(--max-width);
  min-height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  position: relative;

  .dress__code--image {
    width: 100%;
    height: 400px;
    background-image: url('/assets/images/pexels-atul11-1042152.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      #222222 25%,
      #222222 75%,
      transparent 100%
    );

    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      #222222 25%,
      #222222 75%,
      transparent 100%
    );
  }

  p,
  h2 {
    z-index: 2;
    text-shadow: 0 0 10px #000;
  }

  p {
    /* font-weight: bold; */
  }

  img {
    width: 90px;
  }
}
