.invitation__container {
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;

  h2 {
    font-family: 'GreatVibes', cursive;
    font-size: clamp(3rem, 6vw, 4rem);
  }

  p {
    font-family: var(--font-normal);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    text-align: center;
  }
}
