<section class="countdown" aria-label="Cuenta atrás para el evento">
  <!-- <h3 class="title">Faltan</h3> -->

  <div class="grid" role="list">
    <div class="cell" role="listitem">
      <span class="value">{{ countdown().days }}</span>
      <span class="label">Días</span>
    </div>

    <div class="cell" role="listitem">
      <span class="value">{{ countdown().hours }}</span>
      <span class="label">Horas</span>
    </div>

    <div class="cell" role="listitem">
      <span class="value">{{ countdown().minutes }}</span>
      <span class="label">Minutos</span>
    </div>

    <div class="cell" role="listitem">
      <span class="value">{{ countdown().seconds }}</span>
      <span class="label">Segundos</span>
    </div>
  </div>

  @if (countdown().isFinished) {
  <p class="done">¡Hoy es el gran día! ✨</p>
  }

  <div class="event__date">
    <h3>Sábado</h3>
    <h4>24 de Enero del 2026 a las 21:00hs</h4>
  </div>
</section>
