/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #dac2fe;

  --background-color: #222222;
  --text-color: #ffffff;

  --max-width: 800px;

  --font-normal: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: 'GreatVibes';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CinzelDecorative';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CinzelDecorative';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CinzelDecorative';
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf') format('truetype');
}

.title {
  font-family: 'GreatVibes', cursive;
  color: rgba(255, 255, 255, 0.85);
  /* letter-spacing: 0.22em; */
  /* text-transform: uppercase; */
  /* margin-bottom: 1rem; */
  /* font-size: clamp(2rem, 2.5vw, 3rem); */
  font-size: clamp(3rem, 6vw, 4rem);
}
