<app-hero />
<app-invitation />
<app-countdown />
<app-address />
<app-dress-code />
<app-image-component [imageUrl]="image3" [imageAlt]="altImage" />
<app-gift />
<!-- <app-images-grid /> -->
<app-image-component [imageUrl]="image1" [imageAlt]="altImage" />
<app-confirmation />
<app-image-component [imageUrl]="image6" [imageAlt]="altImage" />
<app-playlist />
<app-image-component [imageUrl]="image2" [imageAlt]="altImage" />
<app-gallery />
<app-farewell />

<audio #bgMusic src="/assets/music/music-background.mp3" loop></audio>

<audio #bgMusic src="assets/musica.mp3" loop></audio>

<button class="music-fab" (click)="toggleAudio()" [title]="isPlaying ? 'Pausar' : 'Reproducir'">
  @if (isPlaying) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <rect x="6" y="4" width="4" height="16"></rect>
      <rect x="14" y="4" width="4" height="16"></rect>
    </svg>
  }

  @if (!isPlaying) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
    >
      <path d="M8 5v14l11-7z"></path>
    </svg>
  }
</button>
