.confirmation__container {
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h3 {
    font-family: var(--font-normal);
    font-weight: normal;
  }

  .confirmation__form {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(218, 194, 254, 0.2);
    box-shadow: 0 0 30px rgba(218, 194, 254, 0.2);
    background-color: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(20px);

    .form__container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .form__group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #737580;

        label {
          font-family: var(--font-normal);
        }

        input,
        select,
        textarea {
          padding: 0.5rem;
          border-radius: 4px;
          border: 1px solid rgba(218, 194, 254, 0.2);
          background-color: #1a1a1a;
          color: var(--text-color);
          font-family: var(--font-normal);
        }

        textarea {
          resize: none;
          min-height: 100px;
        }
      }

      .form__group--checkbox {
        display: flex;
        gap: 1rem;
        color: #b8bac5;
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid rgba(218, 194, 254, 0.1);
        background-color: #1a1a1a;
        font-family: var(--font-normal);
        padding: 1rem;

        label {
          user-select: none;
        }
      }

      button {
        padding: 1rem;
        border-radius: 8px;
        border: none;
        background-color: var(--primary-color);
        font-weight: bold;
        font-size: 1rem;
        font-family: var(--font-normal);
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #c1a3fe;
          transform: translateY(-5px);
        }

        &:active {
          transform: scale(0.98);
        }
      }

      .form__error {
        color: #ff6b6b;
        font-size: 0.8rem;
        font-family: var(--font-normal);
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
